<!doctype html>
<html lang="en">
    <head>
        <title>Site Title</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" />
        <style>
        .w3-container {
            max-width:1200px;
            }
        </style> 
    </head>
    <body class="w3-content">
        <div class="w3-container w3-teal" id="header">
            <header>
                <h1>Site Title</h1>
                <p>Site Description</p>
            </header>
        </div><!-- #header -->
        <div class="w3-container" id="body">
            <div class="w3-row">
                <div class="w3-third">
                    <h3>Column 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="w3-third">
                    <h3>Column 2</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
                <div class="w3-third">
                    <h3>Column 3</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit...</p>
                    <p>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris...</p>
                </div>
            </div>
        </div><!-- #body -->
        <div class="w3-container w3-teal" id="footer">
            <footer>
                <h6>Site Footer</h6>
            </footer>
        </div><!-- #footer -->
    </body>
</html>
